In [ ]:
# 1st task
print("Hello, everyone! I am learning Python. ðŸ˜„")

Hello, everyone! I am learning Python. ðŸ˜„

In [ ]:
# 2nd task
name : str ='Zimad'
age : int = 20
favoriteanimal : str = 'cat'
print("name:", name)
print("Age:", age)
print("favoriteanimal:", favoriteanimal)

name: Zimad
Age: 20
favoriteanimal: cat

In [ ]:
# 3rd task
print('My name is', name,'my age is' ,age , 'my favorteanimal',favoriteanimal)

My name is Zimad my age is 20 my favorteanimal cat

In [ ]:
# 4th task
favoritemovie : str = 'baaghi 3'
BirthYear= 2004
PriceofSnack= 25.5
print("favoritemovie:", favoritemovie)
print("BirthYear:",BirthYear )
print("PriceofSnack :",PriceofSnack)

favoritemovie: baaghi 3
BirthYear: 2004
PriceofSnack : 25.5

In [ ]:
# 5th task
hobby : str = 'cricket'
print("my hobby is ", hobby)

my hobby is  cricket

In [ ]:
# Extra Challenge (Optional)
a = 10
b = 10
sum = (a+b)
print(sum)

20