                            PART-1
             Working with Variables, Input, and Strings

   1.Prompt for user input

In [ ]:
full_name = input ('enter your full name')
print(f"hello {full_name} ! welcome to the python language")

enter your full nameMuhammad zimad
hello Muhammad zimad ! welcome to the python language

2.String methods

In [ ]:
name : str = 'muhammad zimad'
# upper
print(name.upper())
# lower
print(name.lower())
# length
print(len(name))
# hyphens
#REPLACE ()WITH (-)
rep=full_name.replace(" ","-")
print("after replacement:",rep)
# strip
name = '  muhammad zimad   '
full_name = name.strip()
print(f"'{full_name}'")

MUHAMMAD ZIMAD
muhammad zimad
14
after replacement: muhammad-zimad
'muhammad zimad'

          Type casting and numeric operations

In [ ]:
birth_year = input("enter your birth year ")
current_year = input("enter current year")
birth_year = int(birth_year)
current_year = int(current_year)
age = current_year - birth_year
print(f"you approximately {age} year old")

enter your birth year 2005
enter current year2024
you approximately 19 year old

           Part 2: Lists and Indexing

In [ ]:
 # Create a list from user input
fruits=input("Enter your three favorite fruits separated by Comma ',':")
fruits_split=fruits.split(',')
print(fruits_split)

# 2) List indexing and slicing
print("First Fruit is: ", fruits_split[0])
print("Second Fruit is: ",fruits_split[1])
print("Third Fruit is: ",fruits_split[2])
print("First two Fruits are: ",fruits_split[0:2])

# 3) List methods
fruits_split.append("Apple")
print("After Adding Fruit: ", fruits_split)

fruits_split.remove("Banana")
print("After Removing Fruit: ", fruits_split)

length=len(fruits_split)
print("Length of Fruits is: ",length)

Enter your three favorite fruits separated by Comma ',':apple,Banana,orange
['apple', 'Banana', 'orange']
First Fruit is:  apple
Second Fruit is:  Banana
Third Fruit is:  orange
First two Fruits are:  ['apple', 'Banana']
After Adding Fruit:  ['apple', 'Banana', 'orange', 'Apple']
After Removing Fruit:  ['apple', 'orange', 'Apple']
Length of Fruits is:  3